enable: true
version: "2.3-fix"
debug: false

settings:
  # check-type: server : One password for the entire server.
  # check-type: player : A unique password for each player. (Works only on the first join. To reset, delete player data or use the /setpassword command)
  check-type: server
  # Gui Name
  gui-name: Passwords
  # Set password name
  set-password-name: Set Password
  # Message that will be displayed as the kick reason.
  fail-message: The password is incorrect!
  # When the UI is closed without a password
  close-ui-message: You need to enter a Password!
  # Enable welcome message.
  welcome-message-enabled: true
  # Welcome message after login.
  welcome-message: Welcome to ExampleServer
  # Welcomemassage second line (Only for title)
  welcome-message-second: Passwords
  # Display type for the welcome message: message; actionbar; title
  welcome-message-display-type: message
  # Enable login gamemode.
  login-gamemode-enabled: true
  # Gamemode every player will have upon login: survival, creative, adventure, spectator
  login-gamemode: survival
  # Player password length ( for the check-type: player )
  player-password-length: 4

discord:
  # DiscordSRV Liked players do not need a Password on login ( Experimental )
  useDiscordLogin: false

server:
  # Server password ( the password can be any length | for the check-type: server )
  password: 1234
