version: 1.6 # Do not change !!!!
# Only edit the config.yml
enable: true

settings:
  # check-type: server : One password for the entire server.
  # check-type: player : A unique password for each player. (Works only on the first join. To reset, delete player data or use the /setpassword command)
  check-type: server
  # Gui Name
  gui-name: §9Passwords
  # Set password name ( Beta - Mey not work!)
  set-password-name: §aSet Password
  # Message that will be displayed as the kick reason.
  fail-message: §4§lThe password is incorrect!
  # When the UI is closed without a password
  close-ui-message: §4§lYou need to enter a Password!
  # Enable welcome message.
  welcome-message-enabled: true
  # Welcome message after login.
  welcome-message: §3Welcome to ExampleServer
  # Welcome massage second line (Only for title)
  welcome-message-second: §2Passwords
  # Movement event cancel
  message-kick-movement: §4§lYou can not move withot being login!
  # Password length
  password-length: 4
  # Display type for the welcome message: chat; actionbar; title
  welcome-message-display-type: chat
  # Admin password enable
  admin-password-enabled: true
  # Admin password grants all permissions to the player. (Can not be longer than the password-length)
  admin-password: 5678
  # Admin login as Op.
  is-admin-op: true
  # Enable login gamemode.
  login-gamemode-enabled: true
  # Gamemode every player will have upon login: survival, creative, adventure, spectator
  login-gamemode: survival
  # Prevents movement for non login player
  prevents-movement: false
  # Ip Login. Login with ip ( Beta - Mey not work!)
  login-ip: false
  # DiscordSRV support
  use-discord-srv: false

discord:
  # DiscordSRV Password on login
  need-password: false

server:
  # Server password (Can not be longer than the password-length)
  password: 1234


api:
  enable: true
  # Kicks the player when the password changes.
  kick-password-change: true
  # Change Password Message
  change-password-message: §4Your password has benn changed!
  # Kick Player Message
  kick-player-message: "§6 Passwords Kicked You Reason : "